<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>练习2局部组件</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="demo2">
    <demo-register></demo-register>
</div>
<script>
    var DemoRegister={
        template:'<div><form action="#"><p>请输入手机号：<input type="text" v-model="mobile"</p><p>请输入验证码：<input type="text" v-model="verify"/><button @click="sendVerify()">获取验证码</button></p><p><button>注册</button></p></form></div>',
        data:function(){
            return{
                mobile:'',
                verify:''
            }
        },
        methods:{
            sendVerify:function(){
                confirm("验证码已发送")
            }
        }
    }
    new Vue({
        el:'#demo2',
        components:{
            'demo-register':DemoRegister
        }
    })
</script>

</body>
</html>